html, body {
  height: 100%;
  width: 100%;
}

.titles {
  border: 1px;
  border-color: rgb(99, 115, 191);
  display:inline;
  color:#333;
}

body.navbar-nav li {
  display:inline-block;
  float:none;
  color:red;
}
